{% extends "base-sidebar.html" %}
{% block nav_login %}active{% endblock %}
{% block title %}登录{% endblock %}
{% block content_title %}<h2>登录到 NNG 新闻导航</h2>{% endblock %}
{% block content %}
<form class="form-horizontal" action="" method="post">
  {% csrf_token %}
  <fieldset>
    <legend></legend>
    <div class="control-group">
      <label class="control-label" for="id_name_or_email">邮箱或用户名</label>
        <div class="controls">
          <input id="id_name_or_email" name="name_or_email" type="text" maxlength="75" class="span4" {% if form.name_or_email.value %}value="{{ form.name_or_email.value }}"{% endif %}>
        </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="id_password">当前密码</label>
        <div class="controls">
          <input id="id_password" name="password" type="password" class="span4">
        </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="id_remember_me">在这台电脑上记住我</label>
        <div class="controls">
          <input id="id_remember_me" name="remember_me" type="checkbox">
        </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">登录</button>
      <span class="offset2"><a href="/accounts/password/reset/">忘记了密码？</a></span>
    </div>
  </fieldset>
</form>
{% endblock %}

{% block sidebar %}
<br><br>
<h3>在这里向朋友分享网址，关注感兴趣的话题并参与讨论</h3>
<br>
<a href="/regist" class="btn btn-primary">加入 Newsnavig</a>

{% endblock %}
