{% extends 'accounts/base.html' %}
{% block title %}密码重置 - Newsnavig{% endblock %}
{% block content_title %}<h3>密码重置</h3>{% endblock %}
{% block content %}

<form class="form-horizontal" action="" method="post">
  {% csrf_token %}
  <fieldset>
    <legend></legend>
    <div class="control-group">
      <label class="control-label" for="id_email">你的注册邮箱</label>
        <div class="controls">
          <input id="id_email" name="email" type="text" maxlength="75" class="span4" value="{{ email }}">
        </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">重置密码</button>
    </div>
  </fieldset>
</form>

{% endblock %}
