{% extends 'settings/base.html' %}
{% block nav-password %}active{% endblock %}
{% block content_title %}
<h2>密码设置</h2>
{% endblock %}
{% block content %}

<form class="form-horizontal" action="" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>修改{{ user.userprofile.get_name }}的登录密码</legend>
    <div class="control-group">
      <label class="control-label" for="id_old_password">当前密码</label>
        <div class="controls">
          <input id="id_old_password" name="old_password" type="password" class="span4">
        </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="id_new_password1">新密码</label>
        <div class="controls">
          <input id="id_new_password1" name="new_password1" type="password" class="span4">
        </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="id_new_password2">重复新密码</label>
        <div class="controls">
          <input id="id_new_password2" name="new_password2" type="password" class="span4">
        </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">确认修改密码</button>
    </div>
  </fieldset>
</form>
{% endblock %}
