{% if c.is_visible %}
{% with p=c.user.userprofile %}
  <div class="row" id="{{ c.id }}">
    <div class="span0-8">
      <span class="pull-right">
        <a href="{{ p.get_absolute_url }}"><img src="{{ p.avatar.get_medium_url }}" /></a>
      </span>
    </div>
    <div class="span8">
      {% include 'user.html' with p=p %}
      <div class="postbody">
      {% if not less %}
        {% include "content.html" with content=c.content %}
      {% else %}
        {% include "more.html" with content=c.content %}
      {% endif %}
      </div>
      <div class="small">
        <a class="fake" href="{{ c.get_absolute_url }}">{{ c.time|date:"Y-n-j" }}</a>
        &nbsp;{{ c.n_comment }} 回复
        {% include 'operater.html' with t='c' obj=c counter=1 %}
        {% if user == c.user and c.n_comment == 0 %}
        <a class="fake" href="{% url nng.views.delete %}?c=c-{{ c.id }}">删除</a>
        {% endif %}
        <a class="fake" href="{% if c.parent_comment %}{{ c.parent_comment.get_absolute_url }}{% else %}{{ c.content_object.get_absolute_url }}{% endif %}">上一级</a>
      </div>
    </div>
  </div>
{% endwith %}
{% else %}
  <p>该回复已被删除</p>
{% endif %}
  <hr />
