{% for comment in comments %}
  {% with o=comment.0 l=comment.1 c=comment.2 %}
  {% with p=c.user.userprofile %}
<div id="{{ c.id }}">
  <div class="row">
    <div class="span1 {% if o %}offset{{ o }}{% endif %}">
      <span class="pull-right">
        <a href="{{ p.get_absolute_url }}"><img src="{{ p.avatar.get_medium_url }}" /></a>
      </span>
    </div>
    <div class="span{{ l }}">
      <p>{% include 'user.html' with p=p %}</p>
      <span>{{ c.content|urlizetrunc:20|linebreaks }}</span>
      <p>
      <a href="{{ c.get_absolute_url }}"><small>{{ c.time|date:"Y-n-j" }}</small></a>
      <a href="{{ c.get_absolute_url }}"><small>回复</small></a>
      {% include 'operater.html' with t='c' obj=c counter=False %}
      {% if user == c.user and c.n_comment == 0 %}
      <a href="{% url nng.views.delete %}?c=c-{{ c.id }}" ><small>删除</small></a>
      {% endif %}
      <a href="#{% firstof c.parent_comment_id c.object_id %}"><small>上一级</small></a>
      </p>
    </div>
  </div>
</div>
  <hr />
  {% endwith %}
  {% endwith %}
{% endfor %}
