{% extends "base-no-sidebar.html" %}
{% block title %}未读提醒{% endblock %}
{% block content_title %}
<div>
  <ul class="nav nav-tabs">
    <li class="active"><a href="{% url remind.views.remind %}">未读提醒</a></li>
    <li><a href="{% url remind.views.remind_all %}">所有提醒</a></li>
  </ul>
</div>
{% endblock %}
{% block content %}
{% if reminds %}
  {% for remind in reminds %}
  {% with f=remind.from_user.userprofile w=remind.way c=remind.comment t=remind.time %}
    {% if w == 'z' %}
      {% include 'remind/new_follower.html' %}
    {% elif w == 'y' %}
      {% include 'remind/new_comment.html' %}
    {% endif %}
  {% endwith %}
  <hr />
  {% endfor %}
{% else %}
<br><br><br><br>
{% endif %}
{% if more %}
<a href="{% url remind.views.remind %}"><button class="btn">更多</button></a>
{% endif %}
{% endblock %}

