{% if c.is_visible %}
<div id="{{ c.id }}">
  <div class="row">
    <div class="span8">
      <p><a href="{{ p.get_absolute_url }}"><strong>{{ p.get_name }}</strong></a><small>&nbsp;|&nbsp;{% if t == 'l' %}网址{% elif t == 'd' %}讨论{% endif %}&nbsp;|&nbsp;</small><small><a class="fake" href="{{ obj.get_absolute_url }}">{{ obj.title|truncatechars:70 }}</a>{% if t == 'l' %}&nbsp;<small>(<a class="fake" href="{{ obj.domain.get_absolute_url }}">{{ obj.domain.domain }}</a>)</small>&nbsp;&nbsp;<a href="{{ obj.url }}" target="_blank"><i class= "icon-chevron-right icon-white" style="background-color: lightgray;"></i></a>{% endif %}</small></p>
      {{ c.content|linebreaks }}
      <p>
      <a href="{{ c.get_absolute_url }}"><small>{{ c.time|date:"Y-n-j" }}</small></a>
      <a href="{{ c.get_absolute_url }}"><small>{% firstof c.n_comment '' %} 回复</small></a>
      {% include 'operater.html' with t='c' obj=c counter=1 %}
      {% if pc %}
      <a href="{{ pc.get_absolute_url }}"><small>上一级</small></a>
      {% endif %}
      {% if show_delete %}
      {% include "people/delete.html" with id=c.id %}
      {% endif %}
    </div>
  </div>
</div>
{% else %}
  <p>该回复已被删除
  {% if show_delete %}
  {% include "people/delete.html" with id=c.id %}
  {% endif %}</p>
{% endif %}
<hr />
