{% if c.is_visible %}
<div id="{{ c.id }}">
  <div class="row">
    <div class="span8">
      <h4><a href="{% if t == 'l' %}{{ obj.url }}{% else %}{{ obj.get_absolute_url }}{% endif %}"{% if t == 'l' %} target="_blank"{% endif %}>{{ obj.title|truncatechars:70 }}</a>{% if t == 'l' %}&nbsp;<span class="small">(<a class="fake" href="{{ obj.domain.get_absolute_url }}">{{ obj.domain.domain }}</a>)</span>{% endif %}</h4>
      {% include 'comment.html' with content=c.content %}
      <div class="small">
        <a class="fake" href="{{ c.get_absolute_url }}">{{ c.time|date:"Y-n-j" }}</a>
        <a class="fake" href="{{ c.get_absolute_url }}">{% firstof c.n_comment '' %} 回复</a>
        {% include 'operater.html' with t='c' obj=c counter=1 %}
        {% if pc %}
        <a class="fake" href="{{ pc.get_absolute_url }}">上一级</a>
        {% endif %}
        {% if show_delete %}
        {% include "people/delete.html" with id=c.id %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% else %}
  <p>该回复已被删除
  {% if show_delete %}
  {% include "people/delete.html" with id=c.id %}
  {% endif %}</p>
{% endif %}
<hr />
