<div>
  <div class="row">
    <div class="span0-8">
      <a href="{{domain.get_absolute_url }}"><img src="{{ domain.avatar.get_medium_url }}" /></a>
    </div>
    <div class="span5">
      <strong><a href="{{ d.get_absolute_url }}">{{ domain.get_name }}</a></strong>
      <div class="profile">
      <span>{{ domain.detail|urlizetrunc:20|truncatechars:70 }}</span>
      </div>
    </div>
    <div class="span2">
      <a onclick="return follow(this)" id="{{ column.secret_id }}" href="#" {% if column in ufcs %}class="btn  btn-follow">取消关注{% else %}class="btn btn-primary btn-follow">关注{% endif %}</a>
    </div>
  </div>
  <hr />
</div>
