{% extends 'people/people_base.html' %}
{% block content %}
{% with p=people.userprofile d=people.userdata ufcs=user.userdata.follows.all %}
{% if t == 'followees' %}
<h4>{{ p.get_name }} 关注了 {{ d.n_follows_user }} 个人</h4>
<hr />
{% for u in datas %}
{% include 'people/user.html' with profile=u.0 column=u.1 %}
{% endfor %}

{% elif t == 'followers' %}
<h4>{{ p.get_name }} 被 {{ p.get_column.n_followers }} 个人关注</h4>
<hr />
{% for u in datas %}
{% include 'people/user.html' with profile=u.0 column=u.1 %}
{% endfor %}

{% elif t == 'topics' %}
<h4>{{ p.get_name }} 关注了 {{ d.n_follows_topic }} 个话题</h4>
<hr />
{% for t in datas %}
{% include 'people/topic.html' with topic=t.0 column=t.1 %}
{% endfor %}

{% elif t == 'domains' %}
<h4>{{ p.get_name }} 关注了 {{ d.n_follows_domain }} 个站点</h4>
<hr />
{% for t in datas %}
{% include 'people/domain.html' with domain=t.0 column=t.1 %}
{% endfor %}

{% endif %}
{% endwith %}

{% include "pager.html" %}
{% endblock %}

