{% extends "base-sidebar.html" %}
{% block content_title %}
<div class="row">
  <div class="people_profile">
    <div class="span2">
      <div class="pull-right">
        <a href="{{ people.userprofile.get_absolute_url }}"><img src="{{ people.userprofile.avatar.get_large_url }}" /></a>
      </div>
    </div>
    <div class="span7">
    <a href="{{ people.userprofile.get_absolute_url }}"><strong>{{ people.userprofile.get_name }}</strong></a>
    {% with sign=people.userprofile.signature %}
    {% if sign %}
      ，{{ sign|urlizetrunc:20 }}
    {% endif %}
    {% endwith %}
    {% with website=people.userprofile.website %}
    {% if website %}
      ，{{ website|urlizetrunc:20 }}
    {% endif %}
    {% endwith %}
    <hr />
    {% with detail=people.userprofile.detail %}
    {% if detail %}
      <span>{{ people.userprofile.detail|urlizetrunc:20|linebreaks }}</span>
    {% endif %}
    {% endwith %}
    {% if user == people %}
      <span class="pull-right"><a href="{% url settings.views.edit_profile %}"><i class="icon-edit"></i> 编辑我的个人资料</a></span>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="span7 offset2">
    <div>
    </div>
    {% if user != people %}
    <span class="pull-right">
      <a class="btn" data-toggle="modal" href="#send_message">发送私信</a>
      <div class="modal hide fade" id="send_message">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">×</button>
          <h3>发送私信给{{ people.userprofile.get_name }}</h3>
        </div>
        <div class="modal-body">
          <form action="{% url messages.views.send %}" method="post" class="well">
            {% csrf_token %}
            <input type="hidden" name="send_to" value="{{ people.username }}">
            <textarea type="textarea" rows="4" class="span6" id="id_message" name="message" placeholder="想说的话..."></textarea>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">取消</a>
            <button type="submit" class="btn btn-primary">发送</button>
          </form>
        </div>
      </div>
    </span>
    {% endif %}
  </div>
</div>
{% endblock %}

