{% if link.is_visible %}
<div id="{{ link.id }}">
  <div class="row">
    <div class="span8">
      <h4><a rel="nofollow" href="{{ link.url }}" target="_blank">{{ link.title }}</a>&nbsp;<span class="small">(<a class="fake" rel="nofollow" href="{{ link.domain.get_absolute_url }}">{{ link.domain.domain }}</a>)</span></h4>
      <div class="small">
      <a class="fake" href="{{ link.get_absolute_url }}">{{ link.time|date:"Y-n-j" }}</a>
      <a class="fake" href="{{ link.get_absolute_url }}">{% firstof link.n_comment '' %} 回复</a>
      {% include 'operater.html' with t='l' obj=link counter=1 %}
      {% if show_topics %}
      {% with topics=link.topics.all %}
      {% if topics %}
      话题
      {% for topic in topics %}
      <a class="fake" href="{{ topic.get_absolute_url }}">{{ topic.name }}</a>
      {% endfor %}
      {% endif %}
      {% endwith %}
      {% endif %}
      {% if show_delete %}
      {% include "people/delete.html" with id=link.id %}
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% else %}
  <p>该网址已被删除
  {% if show_delete %}
  {% include "people/delete.html" with id=link.id %}
  {% endif %}</p>
{% endif %}
<hr />
