<div>
  <div class="row">
    <div class="span0-8">
      <a href="{{profile.get_absolute_url }}"><img src="{{ profile.avatar.get_medium_url }}" /></a>
    </div>
    <div class="span5-9">
      <strong><a href="{{ profile.get_absolute_url }}">{{ profile.get_name }}</a></strong>
      <div class="profile">
        {{ profile.signature|urlizetrunc:20 }}
        {% if profile.website %}
          <a class="fake" href="{{ profile.website }}" target="_blank">{{ profile.website|truncatechars:20 }}</a>
        {% endif %}
      </div>
    </div>
    <div class="span1-3">
      {% if user.id != profile.user_id %}
        <a onclick="return follow(this)" id="{{ column.secret_id }}" href="#" {% if column in ufcs %}class="btn btn-follow">取消关注{% else %}class="btn btn-primary btn-follow">关注{% endif %}</a>
      {% endif %}
    </div>
  </div>
</div>
<hr />
