{% extends "settings/base.html" %}
{% block nav-profile %}active{% endblock %}
{% block content_title %}
  <h2>个人资料设置</h2>
{% endblock %}
{% block content %}
      <form enctype="multipart/form-data" class="form-horizontal" method="post" action=".">
       {% csrf_token %}
        <fieldset>
          <legend>设置{{ user.userprofile.get_name }}的名号，头像，签名和个人说明</legend>
          <div class="control-group">
            <label class="control-label" for="id_name">名号</label>
            <div class="controls">
              <input id="id_name" name="name" type="text" class="input-xlarge" maxlength="10" value="{{ name }}"{% if not user.userprofile.is_can_change_name %} disabled{% endif %}>
              <p class="help-block">{{ time_limit }} 天内名号只能修改一次。</p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="id_avatar">头像</label>
            <div class="controls">
              <img src="{{ user.userprofile.avatar.get_large_url }}" />
              <input class="input-file" id="id_avatar" type="file" name="avatar" accept="image/*" />
              <p class="help-block">支持 JPG、GIF、PNG 格式，不要超过 2MB。</p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="id_website">个人主页</label>
            <div class="controls">
              <input id="id_website"  name="website" type="text" class="span6" placeholder="http://" value="{{ website }}"></textarea>
              <p class="help-block">网络上能代表的你的链接</p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="id_signature">一句话签名</label>
            <div class="controls">
              <textarea  class="span6" type="textarea" rows="2" id="id_signature" name="signature" maxlength="70" >{{ signature }}</textarea>
              <p class="help-block">不超过70个字</p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="id_detail">个人说明</label>
            <div class="controls">
              <textarea class="span6" id="textarea" rows="6" id="id_detail" name="detail">{{ detail }}</textarea>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">更新个人资料</button>
          </div>
        </fieldset>
      </form>

{% endblock %}
