{% extends 'base-sidebar.html' %}
{% block title %}关于{% endblock %}
{% block content_title %}
<h3>关于 Newsnavig </h3>
<hr />
{% endblock %}

{% block content %}
<h4>Newsnavig 是什么？</h4>
<p>Newsnavig 是一个帮助你在互联网中发现有意思的内容的网站。<p>
<p>或许你有时候上网不知道做什么，不知道互联网上有那些酷网站，不知到到哪寻觅你感兴趣的内容。或许有时候，你发现了一个有意思的网页，想分享给大家，可你的朋友却对此不感兴趣。在这里，你可以和一群志同道合的人一起，探索互联网，发现有意思的网页并分享给大家。</p>
<br />
<h4>你可以做什么？</h4>
<p>你可以寻找和你志同道合的人，并关注他，这样就可以看到他分享给你的网址。你也可以关注你感兴趣的话题，就不会错过这个话题下的热门东西。你还可以关注一些有意思的站点，能够看到该站点下所有被分享到 Newsnavig 上的网址。当看到你觉得不错的网页时，可以分享到 Newsnavig 上来，并可以给该链接添加一些话题，关注你的人就会看到。<p>
<p>除了这些，你还可以对这些网页的内容发表自己的看法。如果只是觉得不错这个网页不错，那就简单的投上一票，还可以把它分享给关注你的人。如果你只是想单就某些话题说一些自己的想法，Newsnavig 提供了不同常见的论坛的简单、纯粹并且高效的讨论模式。</p>
<br />
<h4>Newsnavig 不是什么？</h4>
<p>Newsnavig 不是人人，不是微博，在这里只是单纯的分享网址。Newsnavig 对你是什么则取决于你关注了什么人、什么话题，你甚至可以把 Newsnavig 当作网络书签来用。 Newsnavig 不会向你推荐东西，你在主页上的看到的所有内容是因为你关注了它们。这里没有强加给你的“话题分类”，没有编辑写手，没有特约文章。Newsnavig 相信大众的力量，多数人的判断，和数字的智慧。通过网站幕后不断完善之中的算法，有序和有益的结构会从无数特异而可爱的个性中产生。</p>
<br />
<p>Newsnavig 的发起者是出于兴趣开发了这么一个东西，希望你也能喜欢它。</p>

{% endblock %}
