{% extends 'index.html' %}
{% block nav_home %}active{% endblock %}
{% block title %}动态 - Newsnavig{% endblock %}
{% block content %}
<h4 style="color:gray">最新动态</h4><hr />
{% if dynamics %}
{% for d in dynamics %}
{% with o=d.column.content_object c=d.content_object w=d.way time=d.time p=d.content_object.user.userprofile %}
<div>
  <div class="row">
    <div class="span7-5">
      {% if w in 'abcd' %}
      <h4>
        <a rel="nofollow" href="{{ c.url }}" target="_blank">{{ c.title }}</a>
        <span class="small">(<a rel="nofollow" href="{{ c.domain.get_absolute_url }}" class="fake">{{ c.domain.domain }}</a>)</span>
      </h4>
      {% elif w in 'efg' %}
      <h4>
        <a href="{{ c.get_absolute_url }}">{{ c.title }}</a>
      </h4>
      {% elif w in 'hijk' %}
        {% if w in 'hj' %}
        <h4>
          <a rel="nofollow" href="{{ d.comment_object.url }}" target="_blank">{{ d.comment_object.title|truncatechars:70 }}</a>
          <span class="small">(<a rel="nofollow" href="{{ d.comment_object.domain.get_absolute_url }}" class="fake">{{ d.comment_object.domain.domain }}</a>)</span>
        </h4>
         <span class="small"><a class="fake" href="{{ p.get_absolute_url }}">{{ p.get_name }}</a> 回复该网址说：</span>
        {% elif w in 'ik' %}
        <h4>
          <a href="{{ d.comment_object.get_absolute_url }}">{{ d.comment_object.title|truncatechars:70 }}</a>
        </h4>
         <span class="small"><a class="fake" href="{{ p.get_absolute_url }}">{{ p.get_name }}</a> 回复说该讨论说：</span>
        {% endif %}
      {% endif %}
    </div>
    <div class="span0-5">
      <span class="avatars"><a href="{{ p.get_absolute_url }}" rel="tooltip" title="{{ p.get_name }}"><img src="{{ p.avatar.get_small_url }}" /></a></span>
    </div>
  </div>
  <div class="row">
    <div class="span8">
      {% if w in 'efg' and c.detail %}
      {% include 'more.html' with content=c.detail %}
      {% elif w in 'hijk' %}
      {% include 'more.html' with content=c.content %}
      {% endif %}
      <div class="small">
        {% include 'dynamic_op.html' %}
        {% if w in 'hijk' %}
          {% if c.parent_comment_id %}
            <a class="fake" href="/comment/{{ c.parent_comment_id }}/">上一级</a>
          {% endif %}
        {% endif %}&nbsp;
        {% if w in 'bf' %}
          话题
        {% elif w == 'c' %}
          站点
        {% endif %}
        {% if w in 'abcdefgjk' %}
          <span><a class="fake" href="{{ o.get_absolute_url }}">{{ o.get_name }}</a></span>
        {% endif %}
        {% if w == 'a' %}
          发布了该网址
        {% elif w == 'b' %}
          添加了一个新的网址
        {% elif w == 'c' %}
          添加了一个新的网址
        {% elif w == 'd' %}
          分享了该网址
        {% elif w == 'e' %}
          发起了该讨论
        {% elif w == 'f' %}
          添加了一个新的讨论
        {% elif w == 'g' %}
          分享了该讨论
        {% elif w in 'jk' %}
          分享了该回复
        {% endif %}
      </div>
    </div>
  </div>
</div>
<hr />
{% endwith %}
{% endfor %}

{% else %}
<br />
<p>你还没有关注任何人和话题，到 <a href="{% url explore.views.user %}">月度星级用户</a> 里发现一有意思的用户，或者到 <a href="{% url explore.views.topic %}">热门话题</a> 里发现一些感兴趣的话题吧。</p>

{% endif %}
{% include "pager.html" %}
{% endblock %}

