<span><a href="{{ c.get_absolute_url }}"><small>{% if time.date == today %}今天&nbsp;{{ time|time:"H:i" }}{% else %}{{ time|date:"n月j日" }}{% endif %}</small></a>&nbsp;<span>
<span><a href="{{ c.get_absolute_url }}"><small>{% firstof c.n_comment '' %}回复</small></a>&nbsp;</span>
{% if w in 'abcd' %}
  {% include 'operater.html' with t='l' obj=c p=p %}
{% elif w in 'efg' %}
  {% include 'operater.html' with t='d' obj=c p=p %}
{% elif w in 'hijk' %}
  {% include 'operater.html' with t='c' obj=c p=p %}
{% endif %}
