<span><span>{% if p.user_id == user.id %}支持{% else %}<a class="fake" onclick="return operate(this)" id="v-{{ t }}-{{ obj.id }}" href="#">支持</a>{% endif %}</span>{% if counter %}<span class="counter">({{ obj.n_supporter }})</span>{% endif %}</span>

<span><span>{% if p.user_id == user.id %}分享{% else %}<a class="fake" onclick="return operate(this)" id="s-{{ t }}-{{ obj.id }}" href="#">分享</a>{% endif %}</span>{% if counter %}<span class="counter">({{ obj.n_share }})</span>{% endif %}</span>

<span><span><a class="fake" onclick="return operate(this)" id="c-{{ t }}-{{ obj.id }}" href="#">收藏</a></span>{% if counter %}<span class="counter">({{ obj.n_collecter }})</span>{% endif %}</span>
