{% extends "base-sidebar.html" %}
{% block title %}{{ topic.name }}{% endblock %}
{% block content_title %}
<div class="row">
  <div class="span1-5">
    <a href="{{ topic.get_absolute_url }}"><img src="{{ topic.avatar.get_large_url }}" /></a>
  </div>
  <div class="span6-5">
    <h3>
      <a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a>
      <span class="small">话题<span>
    </h3>
    <hr />
    {% load comment_spacify %}
    <div>
      {{ topic.detail|spacify|urlize|linebreaksbr }}
      <a data-toggle="modal" href="#topic_edit"><i class="icon-edit"></i>编辑</a>
    </div>
  </div>
</div>
<hr />
<div class="modal hide fade" id="topic_edit">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
   <h3>编辑话题 {{ topic.name }}</h3>
  </div>
  <div class="modal-body">
    <form enctype="multipart/form-data" class="well" action="{% url topics.views.edit topic_name=topic.name %}" method="post">
    {% csrf_token %}
      <label class="control-label" for="id_avatar">图片</label>
        <img src="{{ topic.avatar.get_medium_url }}" />
        <input class="input-file" id="id_avatar" type="file" name="avatar" accept="image/*" />
        <p class="help-block"><small>支持 JPG、GIF、PNG 格式，不要超过 2MB</small></p>
      <label class="control-label" for="id_avatar">对 {{ topic.name }} 的描述</label>
        <textarea class="span6" rows="6" id="id_detail" name="detail">{{ topic.detail }}</textarea>
  </div>
  <div class="modal-footer">
     <button class="btn" data-dismiss="modal">取消</button>
     <button type="submit" class="btn btn-primary">保存</button>
  </div>
  </form>
</div>
{% endblock %}
{% block sidebar-title %}
<a onclick="return follow(this)" id="{{ column.secret_id }}" href="#" {% if column in user.userdata.follows.all  %}class="btn btn-follow">取消关注{% else %}class="btn btn-primary btn-follow" rel="tooltip" title="关注后该话题下的热门网址和讨论将会出现在你的主页">关注{% endif %}</a>
<a class="btn" href="{% url nng.views.post %}?type=discuss&topic={{ topic.name }}">发起讨论</a>
<hr />
<p><a href="{% url topics.views.topic topic.name %}followers/">{{ column.n_followers }} 人关注了该话题</a></p>
{% for profile in followers %}
<div class="asl"><a href="{{ profile.get_absolute_url }}" rel="tooltip" title="{{ profile.get_name }}"><img src="{{ profile.avatar.get_small_url }}" /></a></div>
{% endfor %}
{% endblock %}
