{% extends "base-sidebar.html" %}
{% block title %}话题 {{ topic.name }}{% endblock %}
{% block content_title %}
<div class="row">
  <div class="topic_profile">
    <div class="span2">
      <div class="pull-right">
        <a href="{{ topic.get_absolute_url }}"><img src="{{ topic.avatar.get_large_url }}" /></a>
      </div>
    </div>
    <div class="span7">
      <h3><a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a></h3><hr />
        <span>{{ topic.detail|urlizetrunc:20 }}</span>
        <a data-toggle="modal" href="#topic_edit"><i class="icon-edit"></i><small>编辑</small></a>
        <hr />
    </div>
  </div>
</div>

<div class="modal hide fade" id="topic_edit">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
   <h3>编辑话题 {{ topic.name }}</h3>
  </div>
  <div class="modal-body">
    <form enctype="multipart/form-data" class="well" action="{% url topics.views.edit topic_name=topic.name %}" method="post">
    {% csrf_token %}
      <label class="control-label" for="id_avatar">图片</label>
        <img src="{{ topic.avatar.get_medium_url }}" />
        <input class="input-file" id="id_avatar" type="file" name="avatar" accept="image/*" />
        <p class="help-block"><small>支持 JPG、GIF、PNG 格式，不要超过 2MB</small></p>
      <label class="control-label" for="id_avatar">对 {{ topic.name }} 的描述</label>
        <textarea class="span6" rows="6" id="id_detail" name="detail">{{ topic.detail }}</textarea>
  </div>
  <div class="modal-footer">
     <button class="btn" data-dismiss="modal">取消</button>
     <button type="submit" class="btn btn-primary">保存</button>
  </div>
  </form>
</div>
{% endblock %}
{% block sidebar-title %}
<br>
<span><a onclick="return follow(this)" id="{{ column.secret_id }}" href="#" {% if has_followed %}class="btn">取消关注{% else %}class="btn btn-primary">关注{% endif %}</a></span>
{% endblock %}
