{% extends 'base-sidebar.html' %}
{% block nav_explore %}active{% endblock %}
{% block page_nav %}
<ul class="nav nav-tabs">
  <li class="{% block exp_nav_link %}{% endblock %}"><a href="{% url explore.views.link %}">网址</a></li>
  <li class="{% block exp_nav_discuss %}{% endblock %}"><a href="{% url explore.views.discuss %}">讨论</a></li>
  <li class="{% block exp_nav_comment %}{% endblock %}"><a href="{% url explore.views.comment %}">回复</a></li>
</ul>
{% endblock %}

{% block sidebar-title %}
<p><a href="/post/">发布</a></p>
<p><a href="/explore/link/new/">所有网址</a></p>
<p><a href="/explore/discuss/new/">所有讨论</a></p>
<p><a href="{% url explore.views.topic %}">热门话题</a></p>
<p><a href="{% url explore.views.domain %}">热门站点</a></p>
<p><a href="{% url explore.views.user %}">月度星级用户</a></p>
{% endblock %}
