{% extends 'explore/base.html' %}
{% block title %}探索 :: 回复{% endblock %}
{% block exp_nav_comment %}active{% endblock %}
{% block content %}
<div class="row">
<div class="pull-right">
  {% if t == 'hot' %}24小时内最热 /{% else %}<a href="{% url explore.views.comment %}">24小时内最热</a> /{% endif %}
  {% if t == 'super' %}精华 /{% else %}<a href="{% url explore.views.comment %}super/">精华</a> /{% endif %}
  {% if t == 'new' %}最新{% else %}<a href="{% url explore.views.comment %}new/">最新</a>{% endif %}
</div>
</div>
<hr />
{% for c in comments %}
{% with p=c.user.userprofile obj=c.content_object t=c.way pc=c.parent_comment%}
<div id="{{ c.id }}">
  <div class="row">
    <div class="span9">
      <p><a href="{{ p.get_absolute_url }}"><strong>{{ p.get_name }}</strong></a><small>&nbsp;|&nbsp;{% if t == 'l' %}网址{% elif t == 'd' %}讨论{% endif %}&nbsp;|&nbsp;</small><small><a class="fake" href="{{ obj.get_absolute_url }}">{{ obj.title|truncatechars:70 }}</a>{% if t == 'l' %}&nbsp;<small>(<a class="fake" href="{{ obj.domain.get_absolute_url }}">{{ obj.domain.domain }}</a>)</small>&nbsp;&nbsp;<a href="{{ obj.url }}" target="_blank"><i class= "icon-chevron-right icon-white" style="background-color: lightgray;"></i></a>{% endif %}</small></p>
      {{ c.content|linebreaks }}
      <p>
      <small><a class="fake" href="{{ c.get_absolute_url }}">{{ c.time|date:"Y-n-j" }}</a></small>
      <small><a class="fake" href="{{ c.get_absolute_url }}">回复</a></small>
      {% include 'operater.html' with t='c' obj=c counter=0 %}
      {% if pc %}
      <small><a class="fake" href="{{ pc.get_absolute_url }}">上一级</a></small>
      {% endif %}
      </p>
    </div>
    <div class="span1">
      <span class="pull-right"><a href="{{ p.get_absolute_url }}" rel="tooltip" title="{{ p.get_name }}"><img src="{{ p.avatar.get_small_url }}" /></a></span>
  </div>
</div>
<hr />
{% endwith %}
{% endfor %}

{% include "pager.html" %}
{% endblock %}
