{% with p=c.user.userprofile obj=c.content_object t=c.way pc=c.parent_comment%}
<div id="{{ c.id }}">
  <div class="row">
    <div class="span7-5">
      <h4><a href="{% if t == 'l' %}{{ obj.url }}{% else %}{{ obj.get_absolute_url }}{% endif %}"{% if t == 'l' %} target="_blank"{% endif %}>{{ obj.title|truncatechars:70 }}</a>{% if t == 'l' %}&nbsp;<span class="small">(<a class="fake" href="{{ obj.domain.get_absolute_url }}">{{ obj.domain.domain }}</a>)</span>{% endif %}</h4>
      {% if t == 'l' %}
      <span class="small"><a class="fake" href="{{ p.get_absolute_url }}">{{ p.get_name }}</a> 回复该网址说：</span>
      {% elif t == 'd' %}
      <span class="small"><a class="fake" href="{{ p.get_absolute_url }}">{{ p.get_name }}</a> 回复说该讨论说：</span>
      {% endif %}
    </div>
    <div class="span0-5">
      <a href="{{ p.get_absolute_url }}" rel="tooltip" title="{{ p.get_name }}"><img src="{{ p.avatar.get_small_url }}" /></a>
    </div>
    <div class="span8">
      {% include 'more.html' with content=c.content %}
      <div class="small">
      <a class="fake" href="{{ c.get_absolute_url }}">{{ c.time|date:"Y-n-j" }}</a>
      <a class="fake" href="{{ c.get_absolute_url }}">回复</a>
      {% include 'operater.html' with t='c' obj=c counter=0 %}
      {% if pc %}
      <a class="fake" href="{{ pc.get_absolute_url }}">上一级</a>
      {% endif %}
      </div>
    </div>
  </div>
</div>
<hr />
{% endwith %}
