{% extends 'explore/base.html' %}
{% block title %}探索 :: 站点{% endblock %}
{% block page_nav %}<h3>站点</h3><hr />{% endblock %}
{% block content %}
<div class="row">
<div class="pull-right">
  {% if t == 'hot' %}热门站点 /{% else %}<a href="{% url explore.views.domain %}">热门站点</a> /{% endif %}
  {% if t == 'new' %}最新站点{% else %}<a href="{% url explore.views.domain %}new/">最新站点</a>{% endif %}
</div>
</div>
<hr />

{% for d in domains %}
<span style="font-size:16px;line-height:2em;"><a href="{{ d.get_absolute_url }}" rel="tooltip" title="{{ d.domain|add:' '|add:d.detail|truncatechars:70 }}"><strong>{{ d.get_name }}</strong></a></span>&nbsp; &nbsp;
{% endfor %}

{% endblock %}
