{% extends 'explore/base.html' %}
{% block title %}探索 :: 网址{% endblock %}
{% block exp_nav_link %}active{% endblock %}
{% block content %}
<div class="row">
<div class="pull-right">
  {% if t == 'hot' %}24小时内最热 /{% else %}<a href="{% url explore.views.link %}">24小时内最热</a> /{% endif %}
  {% if t == 'super' %}精华 /{% else %}<a href="{% url explore.views.link %}super/">精华</a> /{% endif %}
  {% if t == 'new' %}最新{% else %}<a href="{% url explore.views.link %}new/">最新</a>{% endif %}
</div>
</div>
<hr />

{% for link in links %}
{% with p=link.post_user.userprofile %}
<div>
  <div class="row">
    <div class="span9">
      <span><a href="{{ link.url }}" target="_blank"><h4>{{ link.title }} <small><a href="{{ link.domain.get_absolute_url }}">({{ link.domain.domain }})</a></small></h4></a><br>
      <span><a class="fake" href="{{ link.get_absolute_url }}">{{ link.post_time|date:"Y-n-j H:i" }}</a>
      
      {% if link.topics %}
      <span><small>话题</small></span>
      {% for topic in link.topics.all %}
      <span><a class="fake" href="{{ topic.get_absolute_url }}">{{ topic.name }}</a></span>
      {% endfor %}
      {% endif %}
    </div>
    <div class="span1">
      <span class="pull-right"><a href="{{ p.get_absolute_url }}" rel="tooltip" title="{{ p.get_name }}"><img src="{{ p.avatar.get_small_url }}" /></a></span>
    </div>
  </div>
  <hr />
</div>
{% endwith %}
{% endfor %}
{% include "pager.html" %}
{% endblock %}
