{% with p=link.user.userprofile %}
<div id="{{ link.id }}">
  <div class="row">
    <div class="span7-5">
      <h4><a rel="nofollow" href="{{ link.url }}" target="_blank">{{ link.title }}</a>&nbsp;<span class="small">(<a class="fake" rel="nofollow" href="{{ link.domain.get_absolute_url }}">{{ link.domain.domain }}</a>)</span></h4>
      <div class="small">
      <a class="fake" href="{{ link.get_absolute_url }}">{{ link.time|date:"Y-n-j" }}</a>
      <a class="fake" href="{{ link.get_absolute_url }}">{% firstof link.n_comment '' %} 回复</a>
      {% include 'operater.html' with t='l' obj=link counter=1 %}
      {% if topics and link.topics %}
      话题
      {% for topic in link.topics.all %}
      <a class="fake" href="{{ topic.get_absolute_url }}">{{ topic.name }}</a>
      {% endfor %}
      {% endif %}
    </div>
    </div>
    <div class="span0-5">
      <a href="{{ p.get_absolute_url }}" rel="tooltip" title="{{ p.get_name }}"><img src="{{ p.avatar.get_small_url }}" /></a>
    </div>
  </div>
</div>
<hr />
{% endwith %}
