{% extends 'explore/base.html' %}
{% block title %}探索 :: 用户{% endblock %}
{% block page_nav %}<h3>用户</h3><hr />{% endblock %}
{% block content %}
<div class="row">
<div class="pull-right">
  {% if t == 'hot' %}月度星级用户 /{% else %}<a href="{% url explore.views.user %}">月度星级用户</a> /{% endif %}
  {% if t == 'new' %}最新注册{% else %}<a href="{% url explore.views.user %}new/">最新注册</a>{% endif %}
</div>
</div>
<hr />

{% if users %}
{% with follows=user.userdata.follows.all %}
{% for d in users %}
{% with p=d.user.userprofile columns=d.user.userprofile.columns.all %}
{% include 'people/user.html' with profile=p column=columns.0 ufcs=follows %}
{% endwith %}
{% endfor %}
{% endwith %}
{% endif %}

{% endblock %}
